.backgroundItems {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
}

.stars{
    composes: backgroundItems;
    background: black url('../../assets/Images/stars.png');
    display: block;
    z-index: -3;
}


.alpha{
    composes: backgroundItems;
    background: transparent url('../../assets/Images/alpha.png');
    animation: stargazing 500s linear infinite;
    z-index: -2;
}

.nebula {
    composes: backgroundItems;
    background: transparent url('../../assets/Images/nebula.png');
    z-index: -1;
    opacity: 0.2;
}

@keyframes stargazing {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}